body {
	font-family: sans-serif;
	margin: auto;
	text-align: center;
	font-size: 1.5em;
	line-height: 1.25;
}

h1 {
	font-size: 2em;
	margin-top: .25em;
	margin-bottom: .1em;
	color: white;
	text-shadow: 4px 4px black;
}

h5 {
	margin-top: 0px;
	margin-bottom: .5em;
}

button {
	font-size: 1.5em;
	border-radius: 20px;
	padding: 1em;
	margin-bottom: .5em;
	width: 70%;
	text-shadow: 4px 4px black;
	box-shadow: 4px 4px #9479b3;
}

.spotify {
	background-color: #3e8036;
	color: white;

	&:hover {
		color: black;
		background-color: #79f968;
		text-shadow: none;
	}
}

.bandcamp {
	background-color: #367180;
	color: white;

	&:hover {
		color: black;
		background-color: #68dcf9;
		text-shadow: none;
	}
}

.apple {
	background-color: #803636;
	color: white;

	&:hover {
		color: black;
		background-color: #f96868;
		text-shadow: none;
	}
}

.youtube {
	background-color: #808080;
	color: white;

	&:hover {
		color: black;
		background-color: #fafafa;
		text-shadow: none;
	}
}

.nav {
	border: 1px solid black;
	width: 70%;
	margin: auto;
	margin-bottom: 1em;
	margin-top: 1em;
	font-size: .5em;
	box-shadow: 8px 8px #9479b3;
}

table {
	margin: auto;
	margin-bottom: 1em;
}

td {
	font-size: 1.25em;
	text-align: left;
	padding: 0.25em;
}

.copyright {
	font-size: .5em;
}